#upload{
   padding:10px;
   background: white;
}

#drop{
    padding: 20px 10px;
    margin:0px 0px 20px 10px;
    border: 2px dashed #ddd;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

#upload ul li{

    background-color:#ecf0f5;
	margin:0 -40px;
    border-top:1px solid #0986a3;
    border-bottom:1px solid #0986a3;
    padding:5px;
    height: 60px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    color:#7f858a;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 3px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li small p{
    font-size: 8px;
    font-style:bold;
	color:#8a6d3b;
	position: absolute;
    top: 47px;
    right: 30px;
}

#upload ul li canvas{
    top: 4px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 12px;
    height: 12px;
    position: absolute;
    top: 20px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
}

#upload ul li.error p{
    color:red;
}


#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}
